body {
    background-color: #edeeef;
}

/* Home page */
.home h1 {
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    margin: 45px 0;
}

.home form {
    text-align: center;
}

.home form .btn-primary {
    padding-right: 30px;
    padding-left: 30px;
}

.home form .help-block {
    font-size: 10pt;
    text-align: left;
}

.home form .help-block {
    display: none;
}

.home form .has-error .help-block {
    display: block;
}


/* Quiz page */
.content-wraper {
    margin-top: 50px;
}

.dropdown.bootstrap-select {
    width: 100% !important; 
}

.progress {
    margin-top: 30px;
    margin-bottom: 0;
}

.question h1 {
    text-align: center;
    font-weight: normal;
    font-size: 12pt;
    padding: 0 0 30px;
}

.answers [class*=col-] {
    margin-bottom: 15px;
}

